/* styles/Slide.css */
.slide-container {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .slide-content {
    width: 100%; /* Adjust as needed */
    height: auto;
  }
  
  .slide-loading,
  .slide-error {
    text-align: center;
    padding: 20px;
  }
  